@media screen and (max-width: 1200px) {
    .note-box {
        width: calc(50% - 60px - 30px);
    }
}

@media screen and (max-width: 800px) {
    .note-box {
        width: calc(100%);
    }

    .index-box-menu {
        width: 20%;
        height: calc(100% - 30px);

        border-radius: 0px 15px 0px 0px;
    }

    .index-box-menu nav ul li a {
        width: calc(100% - 30px);
        border-radius: 10px;
        margin-left: 15px;
        margin-right: 15px;

        text-align: center;
    }

    .index-box-menu nav ul li a:hover {
        width: calc(100% - 30px);
    }

    .index-box-menu nav ul li a i {
        margin-left: 0;
        margin-right: 0;
        font-size: 25px;
    }

    .index-box-menu nav ul li a i + span {
        display: none;
    }

    .index-box-content {
        width: calc(80% - 30px);
        border-radius: 15px 0px 0px 0px;
    }

    .create-note-button {
        width: 80px;
        height: 80px;
    }
}
