@media screen and (max-width: 1200px) {
    .note-box {
        width: calc(50% - 60px - 30px);
    }
}

@media screen and (max-width: 800px) {
    .note-box {
        width: calc(100%);
    }

    .index-box-menu {
        width: 20%;
        height: calc(100% - 20px);

        border-radius: 0px 15px 0px 0px;
        margin-top: 20px;
    }

    .index-box-menu nav ul li a {
        width: calc(100% - 40px);
        border-radius: 10px;
        margin-left: 20px;
        margin-right: 20px;

        text-align: center;
        background-color: transparent;
    }

    .index-box-menu nav ul li a i {
        margin-left: 0;
        margin-right: 0;
        font-size: 25px;
        color: rgba(0, 132, 255, 0.4);
    }

        .index-box-menu nav ul li a:hover {
            width: calc(100% - 40px);
            background-color: transparent;
        }

        .index-box-menu nav ul li .index-box-menu-selected-option i {
            color: rgb(0, 132, 255);
        }

   
    .index-box-menu nav ul li a i + span {
        display: none;
    }

    .index-box-content {
        width: calc(80% - 10px);
        border-radius: 20px 0px 0px 0px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .dentro-index-box-content {
        margin: 20px;
        margin-left: 0px;
    }

    .note-box {
        margin: 0px 0px 20px 20px;
    }

    .note-view-more-button {
        font-size: 14px;
    }

    .create-note-button {
        width: 70px;
        height: 70px;
        font-size: 30px;
        right: 20px;
    }

    /* View ore modal */

    .view-more-modal {
        width: calc(100% - 40px - 60px);
        padding: 30px;
    }


    /* Create/edit note modal */

    .create-note-modal, .edit-note-modal {
        width: calc(100% - 40px - 60px);
        padding: 30px;
    }

    .create-note-modal-form textarea, .edit-note-modal-form textarea {
        height: 200px;
    }

    .create-note-modal-form-color-select-box, .edit-note-modal-form-color-select-box {
        justify-content: space-between;
    }


    .cnmf-color-label-box, .enmf-color-label-box {
        margin-right: 0;
        width: calc(25% - 8px);
        position: relative;
    }
    
    .cnmf-color-label, .enmf-color-label {
        width: 100%;
       
        margin-right: 0;
    
        transition: 0.2s;
    }

    /* Task Alert Modal */

    .task-alert-modal {
        position: fixed;
        width: calc(100% - 60px - 40px);
        bottom: 20px;
        left: 20px;
        padding: 30px;
        margin-bottom: -5%;

    }


}
